:root {
  /* vars */
  --color-white: rgb(255, 255, 255);
  --color-grey-light: rgb(232, 230, 230);
  --color-grey-light-overlay: rgba(232, 230, 230, 0.35);
  --color-grey: rgb(191, 191, 191);
  --color-grey-dark: rgb(110, 110, 110);
  --color-black: rgb(33, 33, 33);
  --color-black-overlay: rgba(33, 33, 33, 0.35);
  --color-black-secondary: rgb(36, 35, 35);
  --color-black-tertiary: rgb(8, 8, 8);
  --color-yellow: rgb(247, 242, 134);

  --margin-small: 2rem;
  --margin-medium: 4rem;
  --margin-large: 6rem;
  --margin-xlarge: 10rem;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*::-webkit-scrollbar {
  display: none;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button-icon {
  font-size: 2.4rem;
  color: var(--color-grey-dark);
  width: 6rem;
  height: 6rem;
  text-align: center;
  vertical-align: middle;
}
.button__chevron--left {
  left: 0;
}
.button__chevron--right {
  right: 0;
}
.button-secondary {
  font-weight: 700;
  font-size: 2.4rem;
  width: 12rem;
  height: 4rem;
  border-bottom: 4px solid var(--color-black);
}
.button-secondary:hover {
  color: var(--color-grey-dark);
}
.button-tertiary {
  font-weight: 700;
  font-size: 6rem;
  width: 12rem;
  height: 6rem;
}
.button-yellow {
  background-color: var(--color-yellow);
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-black);
}
.button-yellow:hover {
  background-color: var(--color-grey);
}
.container {
  max-width: 90rem;
  margin: 0 auto;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
.header {
  font-size: 5.4rem;
  margin-bottom: var(--margin-medium);
}
