.Contact {
  background-color: var(--color-white);
  width: 100%;
}
.Contact--none {
  display: none;
}
.Contact__container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 10rem 4rem;
}
.Contact__form {
  width: 100vw;
  max-width: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.Contact__formInput {
  height: 4rem;
  /* line-height: 2rem; */
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-bottom: 2px solid var(--color-grey);
}
.Contact__formInput:active,
.Contact__formInput:focus {
  outline: none;
  border-bottom: 2px solid var(--color-grey-dark);
}
.Contact__form textarea {
  grid-column-start: 1;
  grid-column-end: 3;
  /* grid-row: 3 / span 2; */
  overflow: auto;
  height: auto;
  resize: vertical;
  line-height: 4rem;
}
.Contact__info {
  font-size: 2rem;
}
.Contact__info span {
  font-weight: 700;
}
