.Info {
  width: 100%;
  background-color: var(--color-white);
  font-size: 2rem;
}
.Info__container {
  padding: 6rem 4rem 10rem 4rem;
}

.Info__amenities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.Info__amenitiesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Info__amenitiesIcon {
  font-size: 6rem;
}
.Info_amenitiesDescription span {
  font-weight: 700;
}
.Info__description {
  margin: var(--margin-large) 0;
  max-width: 60rem;
}
