.Navbar {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0 10rem;
  position: absolute;
  top: 0;
  z-index: 1;
}
.Navbar--more {
  background-color: var(--color-black-secondary);
}
.Navbar__logo {
  color: var(--color-grey);
}
.Navbar__logo span {
  font-weight: 700;
  color: var(--color-grey-light);
}
.Navbar__linksContainer {
  color: var(--color-grey-light);
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.Navbar__link {
}
.Navbar__link:hover,
.Navbar__link:active {
  color: var(--color-grey);
}
.Navbar__link--active {
  color: var(--color-grey);
}
