.ScheduleTour {
  width: 100%;
  margin-top: var(--margin-xlarge);
  font-size: 1.6rem;
}
.ScheduleTour__container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  padding: 4rem;
}
.ScheduleTour__buttonReturn {
  padding: 1rem;
  line-height: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ScheduleTour__icon {
  font-size: inherit;
}
.ScheduleTour__header h2 {
  font-size: 3.2rem;
  margin-bottom: var(--margin-small);
}
.ScheduleTour__main {
  height: 48rem;
  display: flex;
  justify-content: space-between;
  /* ! gap */
  gap: 4rem;
}
.ScheduleTour__dateAndTime {
  flex-basis: 60%;
  /* ! gap */
  gap: 2rem;
}
.ScheduleTour__detail {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  /* !gap */
  gap: 2rem;
}
.ScheduleTour__dtHeader,
.ScheduleTour__detailHeader {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-black);
}
.ScheduleTour__detailSection p:not(:first-child) {
  font-size: 1.4rem;
  color: var(--color-grey-dark);
}
.ScheduleTour__buttonNext {
  width: 100%;
  height: 4.8rem;
}

/* & DATE PICKER STYLE OVERRIDES */

.ScheduleTour__datePicker {
  width: 24rem;
  height: 4rem;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  border: none;
  /* !border-bottom */
  border-bottom: 2px solid var(--color-black);
}
.ScheduleTour__datePicker:active,
.ScheduleTour__datePicker:focus {
  outline: none;
}
.react-datepicker__month-container {
  width: auto;
  height: auto;
}
.react-datepicker {
  font-family: inherit !important;
  font-size: 1.2rem !important;
  border-radius: 0 !important;
  border: none !important;
}
.react-datepicker__triangle {
  display: none !important;
}
.react-datepicker__header {
  height: 10rem !important;
  background-color: var(--color-white) !important;
  border: none !important;
}
.react-datepicker__navigation {
  height: 4.8rem !important;
}
.react-datepicker__current-month,
.react-datepicker-time__header {
  font-size: 1.6rem !important;
  line-height: 4rem !important;
}
.react-datepicker__day,
.react-datepicker__day-name {
  width: 4rem !important;
  height: 4rem !important;
  line-height: 4rem !important;
}
.react-datepicker__day {
  border-radius: 0 !important;
}
.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected {
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
}
.react-datepicker__time-container {
  border: none !important;
}
