.ScheduleForm {
  width: 100%;
  display: flex;
  /* !gap */
  gap: 4rem;
}
.ScheduleForm__inputContainer {
  width: 100%;
  max-width: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: var(--padding-medium) 0 9rem 0;
  flex-basis: 60%;
}
.ScheduleForm__input {
  height: 4rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  /* !border */
  border-bottom: 2px solid var(--color-grey-dark);
}
.ScheduleForm__input:active,
.ScheduleForm__input:focus {
  outline: none;
  /* !border */
  border-bottom: 2px solid var(--color-grey-dark);
}
.ScheduleForm textarea {
  grid-column-start: 1;
  grid-column-end: 3;
  overflow: auto;
  height: auto;
  resize: vertical;
  line-height: 4rem;
}
.ScheduleForm__detail {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  /* !gap */
  gap: 2rem;
}

@media (max-width: 400px) {
  .ScheduleForm {
    flex-direction: column;
  }
}
